<div class="user-details">
  <h1>About</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Music Style</h2>
    <img src="../assets/images/BichinPixelEnlarged.png" alt="I love chiptune!" class="responsive-icon-alt">
    <p>My style is mostly chiptune mixed with other instruments, but I can make stuff in other styles as well!</p>
  </div>
  <div class="tech">
    <h2>Current work</h2>
    <img src="../assets/images/BolHut_logo.png" alt="BolHut Logo" class="responsive-icon">
    <p>I'm currently working as the main composer for the indie studio <a aria-label="BolHut" target="_blank" href="https://bolhut.com/">BolHut</a>, but I make my own original themes too. I also do remixes from time to time!</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="../assets/images/LIVEICONpage.png" alt="Ableton Live 10 Logo" class="responsive-icon">
    <img src="../assets/images/LESICON.png" alt="Live Enhancement Suite Logo" class="responsive-icon-alt">
    <p>My main tool for composing is <a aria-label="Ableton Live 10" target="_blank" href="https://www.ableton.com/">Ableton Live</a> with  <a aria-label="Live Enhancement Suite" target="_blank" href="https://enhancementsuite.me/">Live Enhancement Suite</a>. I've worked with other DAWs sometimes, but Ableton Live is my main focus right now</p>
  </div>
</div>
