<div class="user-details">
  <h1>About</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Music Style</h2>
    <img src="../assets/images/BichinPixelEnlarged.png" alt="I love chiptune!" class="responsive-icon-alt">
    <p>My style is mostly chiptune mixed with other instruments, but I can make stuff in other styles as well!</p>
  </div>
  <div class="tech">
    <h2>Current work</h2>
    <a target="_blank" href="https://bolhut.com/"> <img src="../assets/images/BolHut_logo.png" alt="BolHut Logo" class="responsive-icon"></a>
    <p>I'm currently working as the main composer for the indie studio BolHut, but I make my own original themes too. I also do remixes from time to time!</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="../assets/images/LIVEICONpage.png" alt="Ableton Live 10 Logo" class="responsive-icon">
    <img src="../assets/images/LESICON.png" alt="Live Enhancement Suite Logo" class="responsive-icon-alt">
    <p>My main tool for composing is Ableton Live with  Live Enhancement Suite. I've worked with other DAWs sometimes, but Ableton Live is my main focus right now</p>
  </div>
</div>
